@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 186 12% 18%;
    --foreground: 210 40% 98%;
    --card: 186 12% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 186 12% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 186 12% 10%;
    --secondary: 180 100% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 180 100% 15%;
    --muted-foreground: 210 40% 98% / 0.5;
    --accent: 180 100% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 100% 22%;
    --input: 180 100% 22%;
    --ring: 182 100% 74%;

    --chart-1: 182 100% 74%;
    --chart-2: 180 100% 25%;
    --chart-3: 210 40% 98%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 186 12% 15%;
    --sidebar-foreground: 210 40% 98% / 0.7;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 186 12% 10%;
    --sidebar-accent: 186 12% 22%;
    --sidebar-accent-foreground: 182 100% 74%;
    --sidebar-border: 180 100% 20%;
    --sidebar-ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
